* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  position: relative;
}

.skinBackground {
  position: absolute;
  top: -10vh;
  right: -10vh;
  z-index: -1;
  width: 55vw;
  height: 110%;
}

.active {
  color: #da5a1f;
}

/*****header******/
header nav {
  width: 100%;
}

header nav ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

header nav ul li {
  font-size: 1.5rem;
  font-weight: 600;
}

header nav ul li a {
  text-decoration: none;
  color: #a1572c;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header nav ul li a:hover {
  color: #bda1a1;
}

/*****main******/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 90vh;
  /*****sections for resume******/
}

main section.left {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
  padding: 3rem 2rem;
}

main section.left h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #a1572c;
}

main section.left p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1rem 0;
}

main section.right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  position: relative;
}

main section.right img.myPic {
  width: 15vw;
  height: 35vh;
  border-radius: 20%;
  position: absolute;
  top: 15vw;
  right: 20vw;
}

main section.table {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 600px;
          flex: 3 1 600px;
  padding: 2rem;
}

main section.table table {
  border-collapse: collapse;
}

main section.table table tr {
  border-bottom: 2px solid grey;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

main section.table table tr td {
  padding: 1rem;
}

main section.table table tr:hover {
  cursor: pointer;
  background-color: #ffd2b8;
}

main section.picture {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  position: relative;
}

main section.picture img {
  width: 15vw;
  position: absolute;
  top: 15%;
  left: 10%;
}

main section.picture div.orangeRect {
  width: 18vw;
  height: 60vh;
  background-color: #e08958;
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: -1;
}

/*****footer******/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40%;
}

footer a img {
  width: 10vw;
}

/*****media******/
@media screen and (max-width: 1250px) {
  .skinBackground {
    opacity: 0.5;
    width: 35vh;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    padding: 1rem 0;
    border-bottom: grey 2px solid;
  }
  main section.left p {
    font-size: 1.5rem;
  }
  main section.right {
    height: 20vh;
  }
  main section.right img.myPic {
    width: 20vw;
    height: 35vh;
    right: 40%;
    top: -30%;
    margin: 2.5rem;
  }
  footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90vw;
    height: 20vh;
    margin: 5rem -2rem;
  }
}

@media screen and (max-width: 500px) {
  .skinBackground {
    width: 55vw;
  }
  div.animation {
    display: none;
  }
  header nav ul li {
    font-size: 1rem;
  }
  main {
    min-height: 50vh;
    /**** Section for resume ****/
  }
  main section.left h1 {
    font-size: 2.5rem;
  }
  main section.left p {
    font-size: 1.2rem;
  }
  main section.right {
    width: 20vw;
    height: 35vh;
  }
  main section.right img.myPic {
    top: -20%;
    left: 15%;
    width: 45vw;
    height: 50vw;
  }
  main section.table table tr td {
    font-size: 0.8rem;
  }
  main section.picture img {
    width: 45vw;
    border-radius: 5%;
    margin-left: 4rem;
  }
  main section.picture div.orangeRect {
    display: none;
  }
  /**** Section for footer ****/
}
/*# sourceMappingURL=style.css.map */